{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
{% endblock %}

{% block content %}
<div class='panel'>
<h2>Admin page</h2>
<form method="post">
    <input name="title" placeholder="Heading">
    <textarea name="content" placeholder="Post text"></textarea>
    <input type="submit" value="Add post">
</form>
<ul>
    {% for post in posts %}
        <li>{{ post.title }} ({{ post.author }})</li>
    {% endfor %}
</ul>
</div>
{% endblock %}

