
{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">

  <h1>{{ lab.lab_name }}</h1>
  <p><strong>Tier:</strong> {{ lab.tier|title }}</p>
  <p>{{ lab.description }}</p>
  <hr>

  <h2>Объяснение/Решение</h2>
  <div class="explanation">
    {{ lab.full_description|linebreaks }}
  </div>

  <hr>
  <p>App status: {{ status }}</p>

  {% if status.status == "running" %}
    <p><a href="{{ status.url }}" target="_blank" class="btn btn-success">Try to hack!</a></p>

    <form action="{% url 'stop_lab' %}" method="POST" style="display: inline">
      {% csrf_token %}
      <input type="hidden" name="lab" value="{{ lab.container_name }}">
      <button type="submit" class="btn btn-danger">🛑 Stop Lab</button>
    </form>

  {% else %}
    <form  action="{% url 'start_lab' %}" method="POST" style="display: inline">
      {% csrf_token %}
      <input type="hidden" name="lab" value="{{ lab.container_name }}">
      <button type="submit" class="btn btn-primary">🚀 Start Lab</button>
    </form>
  {% endif %}

</div>
{% endblock %}
