{% extends 'base.html' %}
{% load static %}

{% block title %}Learing cards{% endblock %}

{% block content %}

<div class="cards-container">

  {% for card in cards %}
    <div class="card">
    <img src="{% static 'img/sql-lab.jpg' %}" alt="{{card.name}}">
      <div class="card-content">
        <h3 class="card-title">{{card.lab_name}}</h3>
        <p>{{ card.description }}</p>
        <div class="card-tags">
          <span class="tag">{{card.tier}}</span>
        </div>
      </div>
      <div class="card-footer">
        <p>{{card.container_name}}</p>
        <a href="{% url 'lab_view' card.container_name %}" 
           class="btn primary">Start</a>
      </div>  
    </div>
  {% endfor %}


</div>

{% endblock %}
